/* *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
} */
/* body{
    background: #222;
    font-family: "Press Start 2P", monospace;
    height: 98vh;
}

/* UI Design */
/* 
.topUI{
    position: absolute;
    z-index: 1000;

    transform: translate(-50%
    ,25px);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    letter-spacing: 2px;
    color: #fff;
    font-size: 17px;
}
.topUI::before{
    display: inline-block;
    height: 17px;
    padding: 1px 2px;
    line-height: 19px;
    font-size: 17px;
    background: #fff;
    text-shadow: none;
}  */
